* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: #f1f1f1;
  margin: 0;
  overflow: hidden;
}

button {
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(255, 255, 255);
}

.footer {
  z-index: 2;
  position: fixed;
  bottom: 0;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(108, 126, 214);
  border: 5px solid rgb(0, 78, 121);
  text-align: center;
}

.footer h5 {
  margin: 5px 10px 5px 10px;
}