#page1 {
  display: inline-block;
  position: fixed;
  z-index: 1;
  left: 0;
  padding: 0 30px 0 30px;
  height: 100%;
  width: 100%;
  border: 5px solid rgb(0, 78, 121);
  border-bottom: none;
  transition: width 0.7s;
}

#page2 {
  position: fixed;
  display: inline-block;
  z-index: 0;
  right: 0;
  padding: 0 30px 0 30px;
  height: 100%;
  width: 50%;
  border: 5px solid rgb(0, 78, 121);
  border-bottom: none;
  border-left: none;
}

#login, #signin {
  display: none;
}

#login label, #signin label {
  display: block;
}

#login label, #login input, #signin label, #signin input, #signin i {
  font-size: 20px;
}

#signin .tooltiptext {
  font-size: initial;
}

#login input, #signin i, #signin input {
  display: inline;
  margin-right: 10px;
  margin-bottom: 10px;
}

.tooltip {
  color: rgb(0, 78, 121);
  cursor: pointer;
}

.tooltiptext {
  cursor: auto;
  display: none;
  width: fit-content;
  background-color: #555;
  color: #fff;
  font-style: normal;
  text-align: left;
  padding: 10px;
  border-radius: 6px;
  position: fixed;
  margin-left: 15px;
}

a {
  display: block;
  border: 3px solid rgb(0, 78, 121);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 20px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}
