<!DOCTYPE html>
<html lang="it">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microblog</title>
    <link rel="icon" type="image/x-icon" href="/public/img/icon.png">
  </head>

  <body style="background-color: rgb(255, 139, 139); font-family: Arial;">
    <h1><%= statusCode %></h1>
    <h1><%= message %></h1>
    <a href="/microblog">
      <h3>Home</h3>
    </a>
  </body>


</html>