<!DOCTYPE html>
<html lang="it">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microblog</title>
  </head>

  <body>
    <h1><%= statusCode %></h1>
    <h1><%= message %></h1>
    <a href="/microblog">Home</a>
  </body>


</html>