<!DOCTYPE html>
<html lang="it">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Microblog</title>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    </script>
  </head>

  <body>
    <h1>Benvenuto nel microblog di Karim Bachir!</h1>
    <p>Se ti registrerai avrai la possibilità di pubblicare post, commentare e mettere like ai post che ti piaceranno.</p>
    <p>Se invece deciderai di non registrarti avrai comunque la possibilità di visualizzare i post degli utenti registrati ma non potrai crearne di nuovi e non potrai commentare o mettere like.</p>
    <p>Scegli cosa fare:</p>
    <p><a href="/microblog/login">Accedi</a></p>
    <p><a href="/microblog/signin">Registrati</a></p>
    <p><a href="#">Accedi come guest</a></p>
  </body>

</html>