<!DOCTYPE html>
<html lang="it">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Microblog</title>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/public/logic/microblog.js"></script>

  </head>

  <body>
    <a href="/microblog">Home</a>
    <label for="username">username/email</label><br>
    <input type="text" name="username" id="loginUsername" value=""><br>

    <label for="password">password</label><br>
    <input type="password" name="password" id="loginPassword" value=""><br>

    <button type="submit" name="login" id="loginButton">Login</button>
    <div id="loginStatus"> <%= status %></div>
  </body>


</html>