<div id="comments">

  <% for(var i = comments.length - 1; i >= 0; i--){ %>
  <!-- comment -->
  <div class="comment-container">
    <div class="comment-item commentAuthor">
      <%= comments[i].author.username %>
    </div>
    <div class="comment-item commentText">
      <%= comments[i].text %>
    </div>
    <div class="comment-item commentDate">
      <%= comments[i].date %>
    </div>
  </div>
  <% } %>

</div>
