<!-- comment -->
<div class="comment-container">
  <div class="comment-item commentAuthor">
    <%= author %>
  </div>
  <div class="comment-item commentText">
    <%= text %>
  </div>
  <div class="comment-item commentDate">
    <%= date %>
  </div>
</div>
